<title>MNF</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>产销差分析</cite></a>
    <a><cite>MNF</cite></a>
  </div>
</div>

<div class="layui-fluid">

      <div class="layui-card">
        <div class="layui-card-header">过去一周夜间最小流量</div>
        <div class="layui-card-body">
          <div id="LAY-index-mnf" class="layui-carousel layadmin-carousel layadmin-dataview"></div>
        </div>
      </div>

</div>

<script>
    layui.use(['admin', 'carousel', 'echarts'], function () {
        var $ = layui.$,
            admin = layui.admin,
            element = layui.element,
            echarts = layui.echarts,
            carousel = layui.carousel;

        var localData = layui.data(layui.setter.tableName);

        var options = [{}];
        var echartsApp = echarts.init(document.getElementById('LAY-index-mnf'), layui.echartsTheme);

        $.getJSON('/platform/differenceAnalysis/getMnf?access_token=' + localData["access_token"],
            function (rep) {

                var data = rep.data || [];
                console.log(data);
                // xAxisData
                var xAxisData = data.xAxisData;
                // yAxisData
                var yAxisData = data.yAxisData;

                echartsApp.setOption({
                     title: {
                         text: '夜间最小流量统计',
                         x: 'center'
                     },
                     toolbox: {
                         feature: {
                             dataView: {
                                 show: true,
                                 readOnly: false
                             },
                             restore: {
                                 show: true
                             },
                             saveAsImage: {
                                 show: true
                             }
                         }
                     },
                     tooltip : {
                         trigger: 'axis'
                     },
                     calculable : true,
                     xAxis: {
                        type: 'category',
                        boundaryGap : false,
                        data: xAxisData
                     },
                     yAxis: {
                        type: 'value',
                        axisLabel : {
                            formatter: '{value} m³/h'
                        }
                     },
                     series: [{
                        data: yAxisData,
                        type: 'line',
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        markPoint : {
                        data : [{type : 'max', name: '最大值'},{type : 'min', name: '最小值'}]
                        },
                        markLine : {
                        data : [{type : 'average', name: '平均值'}]
                        }
                                }]
                            });

                    });
    });
</script>