<title>数据总览</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>数据总览</cite></a>
  </div>
</div>

<style>
  /* 这段样式只是用于演示 */
  #LAY-component-grid-mobile-pc .layui-card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
  }
</style>

<div class="layui-fluid" id="LAY-component-grid-mobile-pc">


  <div class="layui-form-item">
    <label class="layui-form-label">所属分区</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
          <input id="deptName" type="text" name="deptName" lay-filter="deptTree"/>
        </script>
    </div>
  </div>

  <div class="layui-row layui-col-space10">
    <div class="layui-col-xs8 layui-col-md8 layui-col-lg8">
      <!-- 填充内容 -->
      <div class="layui-card">
        <div class="layui-card-header">
          <a><cite>流量计数据表</cite></a>
        </div>
        <div class="layui-card-body" style="height : 400px;">
          <table class="layui-hide" id="test-table-reload1" lay-filter="user"></table>
          <script type="text/html" id="test-table-toolbar-toolbarDemo1">
            <div class="layui-btn-container"></div>
          </script>
        </div>
      </div>
    </div>
    <div class="layui-col-xs4 layui-col-md4 layui-col-lg4">
      <div class="layui-card">
        <div class="layui-card-header">
          <a><cite>流量计统计图</cite></a>
        </div>
        <div class="layui-card-body" style="height : 400px;"></div>
      </div>
    </div>

    <div class="layui-col-xs8 layui-col-md8 layui-col-lg8">
      <!-- 填充内容 -->
      <div class="layui-card">
        <div class="layui-card-header">
          <a><cite>压力计数据表</cite></a>
        </div>
        <div class="layui-card-body" style="height : 400px;">
          <table class="layui-hide" id="test-table-reload2" lay-filter="user"></table>
          <script type="text/html" id="test-table-toolbar-toolbarDemo2">
              <div class="layui-btn-container"></div>
            </script>
        </div>
      </div>
    </div>
    <div class="layui-col-xs4 layui-col-md4 layui-col-lg4">
      <div class="layui-card">
        <div class="layui-card-header">
          <a><cite>压力计统计图</cite></a>
        </div>
        <div class="layui-card-body" style="height : 400px;"></div>
      </div>
    </div>
  </div>
</div>

<script>
  layui.use('dataOverview', layui.factory('dataOverview')).use(['admin', 'dataOverview', 'table', 'treeSelect'], function () {
  });
</script>