

<title>分区管理</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
  	<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
      <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
    </a>
    <a lay-href="">主页</a>
    <a><cite>系统设置</cite></a>
    <a><cite>分区管理</cite></a>
  </div>
</div>

<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-card-body">
      <button class="layui-btn layui-btn-primary add-root-dept">添加顶级分区</button>
      <button class="layui-btn layui-btn-primary up-all">全部收起</button>
      <button class="layui-btn layui-btn-primary down-all">全部展开</button>
      <table class="layui-table layui-form" id="LAY-user-back-dept" lay-filter="LAY-user-back-dept"></table>
      <script type="text/html" id="table-useradmin-admin">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'treetable', 'table', 'form', 'layer'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,treetable = layui.treetable
  ,layer = layui.layer
  ,form = layui.form;

  var localData = layui.data(layui.setter.tableName);


  var renderTreeTable = function() {
      $.getJSON('/platform/dept/getDeptTreeGridData?access_token='+localData["access_token"], function(resp){
          if (resp.code === 0) {
              var treetableData = resp.data || [];

              //分区管理
              treetable.render({
                  elem: '#LAY-user-back-dept'
                  ,data: treetableData
                  ,cellMinWidth: 100
                  ,field:'deptName'//以树形式显示的字段
                  ,is_checkbox: false
                  ,cols: [
                      {field: 'deptName', title: '分区名称'}
                      ,{
                          title: '状态',
                          width: '100',
                          template: function(item){
                              console.log(item);
                              if (item.delFlag == 1) {
                                  return '<input type="checkbox" lay-skin="switch" lay-filter="status" lay-text="开启|关闭">';
                              } else {
                                  return '<input type="checkbox" checked lay-skin="switch" lay-filter="status" lay-text="开启|关闭">';
                              }
                          }
                      }
                    //   ,{
                    //       field: 'id', 
                    //       width: 80, 
                    //       title: 'ID'}
                      ,{field: 'deptId', title: '分区编号'}
                      ,{field: 'centerPoint', title: '中心点'}
                      ,{field: 'zoom', title: '缩放比例'}
                      ,{field: 'deptRange', title: '分区范围'}
                      ,{
                          field: 'acreage', 
                          width: 80, 
                          title: '面积（km²）'}
                      ,{
                          field: 'waterDemand', 
                          width: 80, 
                          title: '需水量（m³/h)'}
                    //   ,{
                    //       field: 'pid',
                    //       title: '父ID',
                    //       width: '80'}
                      ,{
                          field: 'dispOrder',
                          title: '显示顺序',
                          width: '80'}
                      ,{
                          field: 'actions',
                          title: '操作',
                          width: '100',
                          template: function(item){
                              var tem = [];
                              tem.push('<a class="layui-btn layui-btn-sm layui-btn-normal" lay-filter="edit">编辑属性</a>');
                              tem.push('<a class="add-child layui-btn layui-btn-sm layui-btn-normal" lay-filter="add">添加子级</a>');
                              tem.push('<a class="add-child layui-btn layui-btn-sm layui-btn-normal" lay-filter="del">删除分区</a>');
                              return tem.join('')
                          }
                      }
                  ]
              });

          } else {
              layer.msg(resp.msg, {icon: 6});
          }
      });
  };
  renderTreeTable();

    treetable.on('treetable(add)',function(data){
        console.log(data);
        var formData = data.item;
        admin.popup({
            title: '编辑菜单属性'
            ,area: ['600px', '700px']
            ,id: 'LAY-popup-user-add'
            ,success: function(layero, index){
                view(this.id).render('user/administrators/addDeptForm', formData).done(function(){
                    form.render(null, 'layuiadmin-form-admin');
                    //监听提交
                    form.on('submit(LAY-user-back-submit)', function(formData){
                        var field = formData.field; //获取提交的字段
                        var loading = layer.msg('处理中', { icon: 16 ,shade: 0.01, time: 0 });
                        $.ajax({
                            url: '/platform/dept/addDept?access_token='+localData["access_token"]
                            ,type: 'POST'
                            ,contentType: 'application/json; charset=utf-8'
                            ,data: JSON.stringify({
                                userid: '10001',
                                username: 'admin',
                                data: field
                            })
                            ,dataType: 'json'
                            ,success: function(resp){
                                if (resp.code === 0) {
                                    layer.close(loading); //执行关闭
                                    renderTreeTable();
                                    layer.close(index); //执行关闭
                                } else {
                                    layer.msg(resp.msg, {icon: 6});
                                }
                            }
                            ,error: function(resp) {
                                layer.msg(resp.msg, {icon: 6});
                            }
                        });

                    });
                });
            }            
        });
    });

    treetable.on('treetable(edit)',function(data){
        console.log(data);
        var formData = data.item;
        admin.popup({
            title: '编辑菜单属性'
            ,area: ['600px', '700px']
            ,id: 'LAY-popup-user-edit'
            ,success: function(layero, index){
                view(this.id).render('user/administrators/editDeptForm', formData).done(function(){
                    form.render(null, 'layuiadmin-form-admin');
                    //监听提交
                    form.on('submit(LAY-user-back-submit)', function(formData){
                        var field = formData.field; //获取提交的字段
                        var loading = layer.msg('处理中', { icon: 16 ,shade: 0.01, time: 0 });
                        $.ajax({
                            url: '/platform/dept/editDept?access_token='+localData["access_token"]
                            ,type: 'POST'
                            ,contentType: 'application/json; charset=utf-8'
                            ,data: JSON.stringify({
                                userid: '10001',
                                username: 'admin',
                                data: field
                            })
                            ,dataType: 'json'
                            ,success: function(resp){
                                if (resp.code === 0) {
                                    layer.close(loading); //执行关闭
                                    renderTreeTable();
                                    layer.close(index); //执行关闭
                                } else {
                                    layer.msg(resp.msg, {icon: 6});
                                }
                            }
                            ,error: function(resp) {
                                layer.msg(resp.msg, {icon: 6});
                            }
                        });

                    });
                });
            }            
        });
    });

    treetable.on('treetable(del)',function(data){
        console.log(data);
        var formData = data.item;
        layer.confirm('确定删除此分区及其所有下属分区吗？', function(index){
            var ids = [];
            ids.push(formData.id);
            var loading = layer.msg('处理中', { icon: 16 ,shade: 0.01 ,time: 0});
            $.ajax({
                url: '/platform/dept/delete?access_token='+localData["access_token"]
                ,type: 'POST'
                ,contentType: 'application/json; charset=utf-8'
                ,data: JSON.stringify({
                    userid: '10001',
                    username: 'admin',
                    data: ids
                })
                ,dataType: 'json'
                ,success: function(resp){
                    if (resp.code === 0) {
                        layer.close(loading); //执行关闭
                        table.reload('LAY-user-back-manage');
                        layer.msg('已删除');
                        renderTreeTable();
                    } else {
                        layer.msg(resp.msg, {icon: 6});
                    }
                }
                ,error: function(resp) {
                    layer.msg(resp.msg, {icon: 6});
                }
            });
        });



    });

    $('.up-all').click(function(){
        treetable.all('up');
    });

    $('.down-all').click(function(){
        treetable.all('down');
    });


    form.on('switch(status)',function(data){
        layer.msg('监听状态操作');
        console.dir(data);
        // 获取当前控件
        var selectIfKey=data.othis;
        // 获取当前所在行
        var parentTr = selectIfKey.parents("tr");
        var id = $(parentTr).attr("data-id");
        console.log(id);

        var delFlag = 0;
        if (data.elem.checked) {
            delFlag = 0;
        } else {
            delFlag = 1;
        }
        $.ajax({
            url: '/platform/dept/logicDel/' + id+ '/' + delFlag + '?access_token='+localData["access_token"]
            ,type: 'POST'
            ,contentType: 'application/json; charset=utf-8'
            ,data: JSON.stringify({
                userid: '10001',
                username: 'admin',
                data: []
            })
            ,dataType: 'json'
            ,success: function(resp){
                if (resp.code === 0) {
                    layer.msg('已逻辑删除');
                    renderTreeTable();
                } else {
                    layer.msg(resp.msg, {icon: 6});
                }
            }
            ,error: function(resp) {
                layer.msg(resp.msg, {icon: 6});
            }
        });
    });

    $('.add-root-dept').click(function(){
        var formData={};
        formData.id="";
        formData.pid="";
        admin.popup({
            title: '添加顶级分区'
            ,area: ['600px', '700px']
            ,id: 'LAY-popup-user-add'
            ,success: function(layero, index){
                view(this.id).render('user/administrators/addDeptForm', formData).done(function(){
                    form.render(null, 'layuiadmin-form-admin');
                    //监听提交
                    form.on('submit(LAY-user-back-submit)', function(formData){
                        var field = formData.field; //获取提交的字段
                        var loading = layer.msg('处理中', { icon: 16 ,shade: 0.01, time: 0 });
                        $.ajax({
                            url: '/platform/dept/addDept?access_token='+localData["access_token"]
                            ,type: 'POST'
                            ,contentType: 'application/json; charset=utf-8'
                            ,data: JSON.stringify({
                                userid: '10001',
                                username: 'admin',
                                data: field
                            })
                            ,dataType: 'json'
                            ,success: function(resp){
                                if (resp.code === 0) {
                                    layer.close(loading); //执行关闭
                                    renderTreeTable();
                                    layer.close(index); //执行关闭
                                } else {
                                    layer.msg(resp.msg, {icon: 6});
                                }
                            }
                            ,error: function(resp) {
                                layer.msg(resp.msg, {icon: 6});
                            }
                        });

                    });
                });
            }            
        });
    });



});
</script>