<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
      <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
    </a>
    <a lay-href="">主页</a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">网格化产销差管理系统</div>    
    <div class="layui-card-body"  style="height: 800px;"> 
        <div class="layui-form-item">
            <label class="layui-form-label">所属分区</label>
            <div class="layui-input-inline">
              <script type="text/html" template>
                <input id="deptName" type="text" name="deptName" lay-filter="deptTree"/>
                <input type="hidden" id="deptId" name="deptId" >
              </script>
            </div>
            <div class="input-item">
                <button id="rule" class="layui-btn layui-btn-radius">长度测量</button>
                <button id="measureArea" class="layui-btn layui-btn-radius">面积测量</button>
            </div>
        </div>
        <div id="LAY-index-container" style="height: 700px;"></div>
    </div>
  </div>
</div>
<style>
     .amap-icon img {
         width: 25px;
         height: 34px;
      }
</style>
<script>
layui.use(['admin', 'treeSelect','table','form', 'layer'], function () {
	  var $ = layui.$,
          setter = layui.setter,
          admin = layui.admin,
          treeSelect = layui.treeSelect,
          table = layui.table,
          layer = layui.layer,
          form = layui.form;
      var localData = layui.data(layui.setter.tableName);
      treeSelect.render({
          // 选择器
         elem: '#deptName',
         // 数据
         data: '/platform/dept/getDeptTreeData?access_token='+localData["access_token"],
         // 异步加载方式：get/post，默认get
         type: 'get',
         // 占位符
         placeholder: '选择分区',
         // 是否开启搜索功能：true/false，默认false
         search: true,
         // 点击回调
         click: function(d){
             console.log(d.current.id);
           	 $('#deptId').val(d.current.id);
           	 DestroyMap();
             LoadMapData(d.current.id);
         },
         // 加载完成后的回调函数
         success: function (d) {
             console.log(d);
             // 选中节点，根据id筛选
             //treeSelect.checkNode('deptTree', $('#deptId').val());
         }
     });
      var map = null;   
      //创建地图
      var LoadMapData = function(deptId){
          $.getJSON('/platform/homePage/getIndex/'+deptId+'?access_token=' + localData["access_token"],
                  function (rep) {
        	  var data = rep.data || [];
              var centerData = data.centerData;
              var positions = data.markerData;
              var zoom = data.zoom;
                    
              var map = new AMap.Map('LAY-index-container', {
                   center: centerData,
                   zoom: zoom
               });

              ajax('/platform/homePage/getShpFileInfo', function(err, geoJSON) {
               if (!err) {
                var geojson = new AMap.GeoJSON({
                    geoJSON: geoJSON,
                    // 还可以自定义getMarker和getPolyline
                    getMarker: function(geojson, lnglats) {
                        // 计算面积
                        //var area = AMap.GeometryUtil.ringArea(lnglats[0])
                        return new AMap.CircleMarker({
                            center: lnglats,
                            radius:1+Math.random()*10,
                            strokeColor: 'white',
                            strokeOpacity: 0.5,// 面积越大透明度越高
                            strokeWeight: 1,
                            fillColor:'rgba(0,0,255,1)',
                            fillOpacity:0.5,
                            zIndex:10,
                            bubble:true,
                            cursor:'pointer',
                            clickable: true
                       });
                    },
                    getPolyline:  function(geojson, lnglats) {
                        
                        return new AMap.Polyline({
                            path: lnglats,
                            fillOpacity: .5,
                            strokeColor:'red',
                            strokeOpacity  :.5,
                            strokeWeight : 2
                        });   
                    },
                    getPolygon:  function(geojson, lnglats) {
                        
                        return new AMap.Polygon({
                            path: lnglats,
                            fillOpacity: .5,
                            strokeColor:'white',
                            fillColor:'red'
                        });   
                    }
                });
                geojson.setMap(map);

               } 
            })

            //流量计坐标
            var markers = [];
            //var positions = [[116.405467, 39.907761], [116.415467, 39.907761], [116.415467, 39.917761], [116.425467, 39.907761],[116.385467, 39.907761]];
            if(positions != null)
            {
                for (var i = 0, marker; i < positions.length; i++) {
                    var marker = new AMap.Marker({
                        map: map,
                        position: positions[i],
                        icon: '//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png',
                        offset: new AMap.Pixel(-13, -30)
                    });
                    
    	 	         marker.setMap(map);

    	 	 	     // 设置label标签
    	 	 	     marker.setLabel({
    	 	 	     //修改label相对于maker的位置
    	 	 	         offset: new AMap.Pixel(20, 20),
    	 	 	         content: "<div class='info'>我是 流量计 的第 " + (i + 1) +" 个预警点</div>"
    	 	 	    });    	 	 	        
                }
            }
                             
            var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});
            
            //鼠标点击事件 测量长度或面积
            var mouseTool = new AMap.MouseTool(map); 
            function draw(type){
                switch(type){
                  case 'rule':{
                      mouseTool.rule({
                          startMarkerOptions : {//可缺省
                              icon: new AMap.Icon({
                                  size: new AMap.Size(19, 31),//图标大小
                                  imageSize:new AMap.Size(19, 31),
                                  image: "https://webapi.amap.com/theme/v1.3/markers/b/start.png"
                              })
                          },
                          endMarkerOptions : {//可缺省
                              icon: new AMap.Icon({
                                  size: new AMap.Size(19, 31),//图标大小
                                  imageSize:new AMap.Size(19, 31),
                                  image: "https://webapi.amap.com/theme/v1.3/markers/b/end.png"
                              }),
                              offset: new AMap.Pixel(-9, -31)
                          },
                          midMarkerOptions : {//可缺省
                              icon: new AMap.Icon({
                                  size: new AMap.Size(19, 31),//图标大小
                                  imageSize:new AMap.Size(19, 31),
                                  image: "https://webapi.amap.com/theme/v1.3/markers/b/mid.png"
                              }),
                              offset: new AMap.Pixel(-9, -31)
                          },
                          lineOptions : {//可缺省
                              strokeStyle: "solid",
                              strokeColor: "#FF33FF",
                              strokeOpacity: 1,
                              strokeWeight: 2
                          }
                          //同 RangingTool 的 自定义 设置，缺省为默认样式
                      });
                      break;
                  }
                  case 'measureArea':{
                      mouseTool.measureArea({
                          strokeColor:'#80d8ff',
                          fillColor:'#80d8ff',
                          fillOpacity:0.3
                        //同 Polygon 的 Option 设置
                      });
                      break;
                  }
                }
              }

             // 长度测量
            var ruleNum = 1;
            document.getElementById('rule').onclick = function(e){
                if(ruleNum % 2 == 1)
                {
                   draw('rule');     //按钮变色
                   $("#rule").css("background-color", "grey");//按钮变色
                }
                else if(ruleNum % 2 == 0){
                  mouseTool.close(true)//关闭，并清除覆盖物
                  $("#rule").css("background-color", "#009688");//按钮变色
                }
                ruleNum++;
            }



             // 面积测量
             var measureAreaNum = 1;      
             document.getElementById('measureArea').onclick = function(e){
                if(measureAreaNum % 2 == 1)
                {
                   draw('measureArea');     //按钮变色
                   $("#measureArea").css("background-color", "grey");
                }
                else if(measureAreaNum % 2 == 0){
                  mouseTool.close(true)//关闭，并清除覆盖物
                  $("#measureArea").css("background-color", "#009688");//按钮变色
                }
                measureAreaNum++;
            }      	  
         });
      }
      //销毁地图   
      var DestroyMap = function(){
      	 map && map.destroy();
      } 
      
      // 初始化文件加载 默认分区
      LoadMapData(0);

 });
</script>