
<title>报表管理</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
      <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
    </a>
    <a lay-href="">主页</a>
    <a><cite>报表管理</cite></a>
  </div>
</div>

<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layuiadmin-reporter-form">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">报表类型</label>
          <div class="layui-input-inline">
            <select name="reporterType">
              <option value="0">请选择</option>
              <option value="1">流量计报表</option>
              <option value="2">压力计报表</option>
              <option value="3">其他报表</option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">统计时间</label>
            <div class="layui-input-inline">
              <select name="statisticsTime">
              	<option value="0">请选择</option>
              	<option value="1">按年</option>
              	<option value="2">按季度</option>
              	<option value="3">按月</option>
              	<option value="4">按周</option>
              </select>
            </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn" lay-submit lay-filter="layuiadmin-reporter-btn-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div class="layui-card-body" style="padding: 15px;">
      <div style="padding-bottom: 15px;display: none;">
        <button class="layui-btn" data-type="exportAll">批量下载</button>
        <button class="layui-btn" data-type="printAll">批量打印</button>
      </div>
      
      <table id="layuiadmin-reporter-list" lay-filter="layuiadmin-reporter-list"></table>
      <script type="text/html" id="layuiadmin-reporter-operate">
		<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="file"><i class="layui-icon layui-icon-file"></i>查看</a>
      </script>
    </div>
  </div>
</div>

<script>
layui.use('reporter', layui.factory('reporter')).use(['admin', 'reporter', 'table', 'treeSelect', 'laydate'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,treeSelect = layui.treeSelect
  ,laydate = layui.laydate
  ,element = layui.element
  ,form = layui.form;

  form.render(null, 'layadmin-reporter-form');

  var localData = layui.data(layui.setter.tableName);

  $.getJSON('/platform/role/page?page=1&limit=100&access_token='+localData["access_token"], function(rep){
    var data = rep.data || [];
    data.forEach(function(item) {
        $("select[name='roleId']").append('<option value="'+ item.id +'">'+ item.roleName +'</option>');
        form.render('select');
    });
  });
  
  //监听搜索
  form.on('submit(layuiadmin-reporter-btn-search)', function(data){
    var field = data.field;
    
    //执行重载
    table.reload('layuiadmin-reporter-list', {
      where: field
    });
  });

  //事件
  /* var active = {
    exportAll: function(){
      var checkStatus = table.checkStatus('layuiadmin-reporter-list')
      ,checkData = checkStatus.data; //得到选中的数据

      if(checkData.length === 0){
        return layer.msg('请选择数据');
      }
      layer.confirm('确定删除此用户吗？', function(index) {
        var ids = [];
        checkData.forEach(function(item){
          ids.push(item.id);
        });

        var loading = layer.msg('处理中', { icon: 16 ,shade: 0.01 ,time: 0});
        $.ajax({
          url: '/platform/user/delete?access_token='+localData["access_token"]
          ,type: 'POST'
          ,contentType: 'application/json; charset=utf-8'
          ,data: JSON.stringify({
            userid: '10001',
            username: 'admin',
            data: ids
          })
          ,dataType: 'json'
          ,success: function(resp){
            if (resp.code === 0) {
              layer.close(loading); //执行关闭 
              layer.close(index); //执行关闭 
              table.reload('layuiadmin-reporter-list');
              layer.msg('已删除');
            } else {
              layer.msg(resp.msg, {icon: 6}); 
            }
          }
          ,error: function(resp) {
            layer.msg(resp.msg, {icon: 6}); 
          }
        });
      });
    }
    ,printAll: function(){

      $.getJSON('/platform/role/page?page=1&limit=100&access_token='+localData["access_token"], function(rep){
        admin.popup({
          title: '添加管理员'
          ,area: ['500px', '600px']
          ,id: 'LAY-popup-useradmin-add'
          ,success: function(layero, index){
            view(this.id).render('user/administrators/adminform').done(function(){
              form.render(null, 'layuiadmin-form-admin');

              // 动态生成角色复选框
              var roles = rep.data || [];
              roles.forEach(function(item) {
                  $("#LAY-popup-user-add-roles-checkbox").append('<input type="checkbox" name="platformRoles['+ item.id +']" title="'+ item.roleName +'" value="'+ item.id +'" lay-skin="primary">');
              });
              form.render('checkbox');
              
              //监听提交
              form.on('submit(LAY-user-back-submit)', function(data){
                var field = data.field; //获取提交的字段
                // 整理复选框数据
                var platformRoles = [];
                for (var key in field) {
                  if (key.indexOf('platformRoles[') != -1) {
                    platformRoles.push(field[key]);
                  }
                }
                field['platformRoles'] = platformRoles;
                var loading = layer.msg('处理中', { icon: 16 ,shade: 0.01, time: 0 });
                $.ajax({
                  url: '/platform/user/save?access_token='+localData["access_token"]
                  ,type: 'POST'
                  ,contentType: 'application/json; charset=utf-8'
                  ,data: JSON.stringify({
                    userid: '10001',
                    username: 'admin',
                    data: field
                  })
                  ,dataType: 'json'
                  ,success: function(resp){
                    if (resp.code === 0) {
                      layer.close(loading); //执行关闭 
                      layui.table.reload('layuiadmin-reporter-list'); //重载表格
                      layer.close(index); //执行关闭 
                    } else {
                      layer.msg(resp.msg, {icon: 6}); 
                    }
                  }
                  ,error: function(resp) {
                    layer.msg(resp.msg, {icon: 6}); 
                  }
                });
              });
            });
          }
        });
      });
    }
  }   */
  /* $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  }); */
});
</script>